@tailwind base;
@tailwind components;
@tailwind utilities;
.chat-container {
  position: absolute;
  bottom: 5vh;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
}

.chat-box{
  height: 50vh;
  width: 90vw;
  overflow-y: scroll;
  border-width: 1px;
  margin-bottom: 5px;
  border-color: black;
  border-radius: 3vh;
  background-color: aliceblue;
}

main{
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}

#texting{
  padding-left: 15px;
  width: 80%;
  height: 5vh;
  border-radius: 2vh;
  border-color: black;
  border-width: 1px;
}

.send{
  width:10vw;
  height: 5vh;
  border-radius: 2vh;
  border-color: black;
  border-width: 1px;
  background-color:deepskyblue;
}


.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}